version: '3'

services:
  niord-appsrv:
    image: "${DOCKER_REGISTRY:-dmadk}/${IMAGE_NAME}:${IMAGE_TAG}"
    container_name: "niord-appsrv"
    restart: unless-stopped
    volumes:
      - ${NIORD_VOLUME}:/opt/niord
    environment:
      - NIORDDB_PASSWORD=${NIORDDB_PASSWORD}
      - NIORDDB_USERNAME=${NIORDDB_USERNAME}
      - NIORD_HOME=${NIORD_HOME}
      - NIORDDB_PORT_3306_TCP_ADDR=${NIORDDB_PORT_3306_TCP_ADDR}
    ports:
      - "8080:8080"
      - "9990:9990"
    network_mode: bridge